{% extends "base.html" %} 

{% block content %}

<header class="py-1">
    <div class="container px-4 px-lg-5">
        <div class="text-center display-4 fw-bolder gradient-text">
            <h1 class="display-4 fw-bolder">Expore the world though the books.</h1>
        </div>
    </div>
</header>
<br>
<div class='container'>
    <div class='row'>
        <center>
            <div class= 'col-12'>
                <h3 align= justify>
                    "Books are not merely collections of words and pages; they are living vessels of thought, imagination, and emotion.
                    Within their bindings lie entire worlds waiting to be explored, voices of the past longing to be heard, and dreams of the future yearning to take flight.
                    Each book is a portal, an invitation to step beyond the confines of our own experience and into the boundless expanse of human creativity, wisdom, and wonder.
                    They remind us that no matter how vast the universe may be, it is the stories we share that truly connect us to one another and to the infinite possibilities of life."
                </h3>
            </div>
        </center>
    </div>
</div>
{% endblock %}