{% extends "base.html" %}
{% block content %}

<!-- Header -->
<header class="py-1">
    <div class="col-12">
        <div class="text-center display-4 fw-bolder gradient-text">
            <h1 class="display-4 fw-bolder">Pick up your favorite books here.</h1>
            <p class="lead fw-normal text-dark-50 mb-0">Reading books will make you a knowledgeable person.</p>
        </div>
    </div>
</header>
<br>
<!-- Products Section -->
<section class="py-1">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-3 row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 justify-content-center">
            {% for product in products %}
            <div class="col mb-3">
                <div class="card h-100 shadow-lg">
                    <!-- Product Image -->
                    <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                    <!-- Product Details -->
                    <div class="card-body py-2">
                        <div class="text-center">
                            <!-- Product Name -->
                            <h class="fw-bolder gradient-text" style="color:rgb(72, 143, 248); font-size: 1.25rem;">
                                {{ product.name }}
                            </h>
                            {% if product.author %}
                                <p class="text-muted" style="color:rgb(72, 138, 236);">
                                    by 
                                    <br>{{ product.author }}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Product Actions -->
                    <div class="card-footer py-3 border-top-1 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-primary" href="{% url 'product' product.id %}">View Detail</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% include "pagination.html" %}
</section>

{% endblock %}

