{% load static %}
<style>
    /* General hover effect for nav links */
    .navbar-nav .nav-link {
        transition: color 0.3s ease; /* Smooth transition for text color */
        font-size: 18px; /* Set font size with a unit */
        font-family: 'Arial', sans-serif; /* Set font family */
    }
    .navbar-nav .nav-link:hover {
        color: rgb(51, 169, 135) !important; /* Hover color */
    }

    /* Dropdown menu link styles */
    .dropdown-menu {
        background-color: rgba(0, 123, 255, 1); /* Set background color for dropdown */
        margin-left: -25px; /* Adjust this value to move the dropdown to the left */
    }

    .dropdown-menu .nav-link {
        background-color: rgb(76, 90, 103); /* Set background color for dropdown */
        color: white; /* Default text color for dropdown links */
    }

    .dropdown-menu .nav-link:hover {
        color: rgb(51, 169, 135); /* Hover color for dropdown links */
    }
</style>

<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:rgba(26, 52, 120, 225); color: white;">
    <div class="container py-1 px-4 px-lg-5" >
        <img src="{% static 'img/logo.png' %}" alt="logo" style="width: 80px; height: auto; margin-bottom: 38px;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4 fw-bolder gradient-text" style="font-size: 18px; font-family: 'Arial', sans-serif;">
                <li class="nav-item"><a class="nav-link active text-light" aria-current="page" href="{% url 'home' %}">HOME</a></li>
                {% if user.is_authenticated %}
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'post_form'  %}">UPLOAD POST</a></li>
                {% endif %}
            <div class="d-flex justify-content-start">
                <div class="dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                        NEWS CATEGORY
                    </button>
                    <ul class="dropdown-menu dropdown-menu-start">
                        <li class="nav-item"><a class="nav-link" href="{% url 'home' %}"> All</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'category' 'Latest-News' %}"> LATEST NEWS</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'category' 'Football-News' %}">FOOTBALL NEWS</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'category' 'Predictions' %}">PREDICTIONS</a></li>
                        <li class="nav-item"><a class="nav-link" href="{% url 'category' 'Articles' %}">ARTICLES</a></li>
                    </ul>
                </div>
                 </ul> 
            </div>
            
         <br><br>
            <div class="d-flex align-items-center"> <!-- Added margin-left -->
            <!-- Search Form -->
                <form method="POST" action="{% url 'search' %}" class="d-flex me-3">
                    {% csrf_token %}
                    <div class="input-group custom-search-bar" style="max-width: 300px;">
                        <input type="text" class="form-control" placeholder="Search" name="searched">
                        <button type="submit" class="btn btn-primary">SEARCH</button>
                    </div>
                </form>
                
                <form action="{% url 'contact' %}" method="post" class="d-inline-block mb-0 me-2">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">CONTACT</button>
                </form>
            </div>
        </div>
    </div>
</nav>