{% load static %}
<style>
    /* General hover effect for nav links */
    .navbar-nav .nav-link {
        color: rgb(224, 226, 245); /* Default text color */
        transition: color 0.3s ease; /* Smooth transition for text color */
        font-size: 18px; /* Set font size with a unit */
        font-family: 'Arial', sans-serif; /* Set font family */
    }
    
    .navbar-nav .nav-link:hover {
        color: rgb(71, 183, 151) !important; /* Use !important as a last resort */
        background-color: transparent; /* Ensure background remains transparent */
        border-radius: 5px; /* Optional: Add rounded corners */
    }
</style>


<!-- Navigation-->
<nav class="navbar navbar-expand-lg navbar-light fixed-top" style="background-color:rgba(26, 52, 120, 225); color: white;">
    <div class="container py-1 px-4 px-lg-5" >
        <img src="{% static 'img/logo.png' %}" alt="logo" style="width: 80px; height: auto; margin-bottom: 38px;">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <!-- Navbar Links -->
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0 ms-lg-4 fw-bolder gradient-text" style="font-size: 18px; font-family: 'Arial', sans-serif;">
                <li class="nav-item"><a class="nav-link active text-light" aria-current="page" href="{% url 'home' %}">HOME</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'category' 'Tips' %}">TIPS</a></li>
                <li class="nav-item"><a class="nav-link text-light" href="{% url 'category' 'News' %}">NEWS</a></li>
            </ul>            
            <div class="d-flex align-items-center"> <!-- Added margin-left -->
            <!-- Search Form -->
                <form method="POST" action="{% url 'search' %}" class="d-flex me-3">
                    {% csrf_token %}
                    <div class="input-group custom-search-bar" style="max-width: 300px;">
                        <input type="text" class="form-control" placeholder="Search any" name="searched">
                        <button type="submit" class="btn btn-primary">SEARCH</button>
                    </div>
                </form>
                
                <form action="{% url 'contact' %}" method="post" class="d-inline-block mb-0 me-2">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-primary">CONTACT</button>
                </form>
            </div>
        </div>
    </div>
</nav>