{% extends "base.html" %} 

{% block content %}

<header class="py-1">
    <div class="container px-4 px-lg-5">
        <div class="text-center display-4 fw-bolder gradient-text">
            <h1 class="display-4 fw-bolder">PLease register if you have not, to experience more.....</h1>
        </div>
    </div>
</header>
<div class='container'>
    <div class='row'>
            <div class= 'col-md-6'>
                <form method="POST" action="{% url 'register' %}">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <br>
                <button type="submit" class="btn btn-outline-primary ms-2">Submit</button>
                </form>
            </div>
    </div>
</div>
{% endblock %}
