{% extends "base.html" %} 
{% load static %}
{% block content %}

<br>
{% if not searched %}
<div class="container px-4 px-lg-5 text-center">
    <div class="row justify-content-center">
        <div class="col-12 col-md-8">
            <h2 class="lead fw-bolder text-dark-50 mb-3" style="color: red;">
                Sorry, there is no such a thing you are looking for😔😔.
            </h2>
            <img class="img-fluid" 
                 src="https://i.giphy.com/media/v1.Y2lkPTc5MGI3NjExOTN5Zm1xang1NWp4aXo4MjdkemF3M2FkZ2EzNmx4d2V5ZzJqM3ZreCZlcD12MV9pbnRlcm5hbF9naWZfYnlfaWQmY3Q9Zw/SSLRLbb54JHTvYY9BD/giphy.gif" 
                 alt="sorry-image">
        </div>
    </div>
</div>

{% else %}
<header class="py-1">
    <div class="container px-4 px-lg-5">
        <div class="text-center display-4 fw-bolder gradient-text">
            <h1 class="display-4 fw-bolder">Searching ..........</h1>
            <p class="lead fw-normal text-dark-50 mb-0">Check below what we have found for you..</p>
        </div>
    </div>
</header>
{% endif %}
{% for product in searched %}


<div class="container mt-5">
    <!-- First Item -->
    <div class="row align-items-center mb-4">

        <div class="col-md-3 text-center">
            <img src="{{ product.image.url }}" class="img-fluid rounded" alt="Image 1" style="max-width: 100%;">
        </div>
        <div class="col-md-9">
            <p class="text-primary fw-bold" style="font-family: 'Arial', sans-serif;">{{ product.subtitle }}</p>
            <br>
            <p>{{ product.description }}</p>
        </div>
        <a href="{% url 'home' %}"> <img src="{% static 'img/logo.png' %}" alt="logo" class="rounded mx-auto d-block" style="width: 200px; height: auto;"></a>

    </div>
    
    <!-- Second Item -->
    {% if product.image_one %}
    <div class="row align-items-center mb-4">
        <div class="col-md-9">
           
            <p class="text-primary fw-bold" style="font-family: 'Arial', sans-serif;">{{ product.subtitle }}</p>
            <br>
            <p>{{ product.description_one }}</p>
        </div>
        <div class="col-md-3 text-center">
            <img src="{{ product.image_one.url }}" class="img-fluid rounded" alt="Image 2" style="max-width: 100%;">
        </div>
        <a href="{% url 'home' %}"> <img src="{% static 'img/logo.png' %}" alt="logo" class="rounded mx-auto d-block" style="width: 200px; height: auto;"></a>
    </div>
    {% endif %}

    <!-- Third Item -->
    {% if product.image_two %}
    <div class="row align-items-center mb-4">
        <div class="col-md-3 text-center">
            <img src="{{ product.image_two.url }}" class="img-fluid rounded" alt="Image 3" style="max-width: 100%;">
        </div>

        <div class="col-md-9">
            <p class="text-primary fw-bold" style="font-family: 'Arial', sans-serif;">{{ product.subtitle }}</p>
            <br>
            <p>{{ product.description_two }}</p>
        </div>

    </div>
    {% endif %}
</div>

 
{% endfor %}

{% endblock %}



